/* .feed-container {
    margin-top: 100px;
} */

.header-container {
    padding-top: 100px;
    background-color: var(--darkgrey);
    padding-bottom: 2px;
}

.feed-container > hr {
    margin: 0;
}
.submit-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
}

.submit-container input {
    /* flex-grow: 1; */
    flex-basis: 85%;
}
 
.submit-container button {
    flex-basis: 15%;
}

ul {
    list-style-type: none;
}

#title {
    margin: 0;
    padding-top: var(--l);
}

p {
    margin-top: 100px;
}