.Navbar-container {
   /* padding: var(--s) var(--m); */
  background-color: var(--primary);
  top: 0;
  width: 100%;
  overflow: hidden;
  position: fixed;
}

#nav-title {
    margin: 20px 0px 20px 65px;
    color: var(--white);
    font-size: 20px;
    height: 100%;
}

.login-container {
    float: right;
    margin: 10px 10px 10px 0px;

}